<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eng.mapper.eng.EngUserOperMapper">
  <resultMap id="BaseResultMap" type="com.example.eng.entity.eng.EngUserOper">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oper_type" jdbcType="VARCHAR" property="operType" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oper_type, data_type, data_id, user_id, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_eng_user_oper
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByIO" parameterType="com.example.eng.entity.eng.io.EngUserOperIO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_eng_user_oper
    where user_id = #{userId,jdbcType=BIGINT}
    <if test="operType != null and operType != ''">
        and oper_type = #{operType,jdbcType=VARCHAR}
    </if>
    <if test="dataType != null and dataType != ''">
        and data_type = #{dataType,jdbcType=VARCHAR}
    </if>
    and data_id in
    <foreach collection="dataIdList" item="dataId" open="(" separator="," close=")">
      #{dataId,jdbcType=VARCHAR}
    </foreach>
    and status = #{status,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_eng_user_oper
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByIO" parameterType="com.example.eng.entity.eng.io.EngUserOperIO">
    delete from t_eng_user_oper
    where user_id = #{userId,jdbcType=BIGINT}
    <if test="operType != null and operType != ''">
      and oper_type = #{operType,jdbcType=VARCHAR}
    </if>
    <if test="dataType != null and dataType != ''">
      and data_type = #{dataType,jdbcType=VARCHAR}
    </if>
    and data_id in
    <foreach collection="dataIdList" item="dataId" open="(" separator="," close=")">
      #{dataId,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.example.eng.entity.eng.EngUserOper">
    insert into t_eng_user_oper (id, oper_type, data_type, 
      data_id, user_id, status, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{operType,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{dataId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.eng.entity.eng.EngUserOper">
    insert into t_eng_user_oper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operType != null">
        oper_type,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operType != null">
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.eng.entity.eng.EngUserOper">
    update t_eng_user_oper
    <set>
      <if test="operType != null">
        oper_type = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.eng.entity.eng.EngUserOper">
    update t_eng_user_oper
    set oper_type = #{operType,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      data_id = #{dataId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>