<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eng.mapper.game.GameScoreMapper">
  <select id="queryGameScoreRank" resultType="com.example.eng.entity.game.score.vo.QueryGameScoreRankVO">
    select
      t.title as typeTitle,
      l.title as levelTitle,
      u.en_name as userName,
      u.third_head_img_path as userThirdHeadImgPath,
      u.third_type as thirdType,
      s.user_id as userId,
      s.consume_time  as consumeTime,
      s.create_time as createTime
    from t_game_score s
           inner join t_num_game_level l on s.game_level_id = l.id
           inner join t_num_game_type t on s.game_type_id = t.id
           inner join t_user u on s.user_id =u.id
    where u.status ='available'
      and l.status ='available'
      and t.status ='available'
      and s.consume_time is not null
      <if test="thirdType!=null">
        and u.third_type=#{thirdType}
      </if>
      <if test="gameTypeId!=null">
        and t.id =#{gameTypeId}
      </if>
      <if test="gameLevelId!=null">
        and l.id =#{gameLevelId}
      </if>
    order by s.consume_time
  </select>

</mapper>